* {
    margin: 0;/* сбрасываем настройки и отступы */
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu-c;
    list-style: none;
    text-decoration: none;
}
@font-face {
    font-family: Ubuntu-c;
    src: url(../assets/fonts/futuralight-light.woff2);
}
@font-face {
    font-family: Ubuntu-c;
    src: url(../assets/fonts/futuralight-light.woff2);
}
h1, h2, h3, h4, h5, h6 { /* параметры всех заголовков одинаковы */
    font-family: Ubuntu-c;
}
/* will-change чтобы при анимации сайт не лагал */
.container,.controls, .gallery > * {
    will-change: transform;
}
body {
    font-family: raleway-c;
    overflow-x: hidden;
    overflow-y: hidden;
}
.intro {
    position:sticky;
    top: 0;
    max-height: 100vh;
    overflow:hidden;
}
.video {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}
.video__media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.menu {
    position: fixed;
    height: 114px;
    width: 100%;
    background-color: rgb(0, 0, 0, .5);
    font-size: 50px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 6%;
}
header nav ul li {
    position: relative;
    float: left;
}
header nav ul li a {
    padding: 30px;
    color: white;
    font-size: 55px;
    display: block;
}
.main_page {
    position: sticky;
    font-size: 65px;
    font-weight: 500;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    transition: .5s;  
    margin-left: 120px;
}
.main_page:hover {
    transform: scale(1.2,1.2);
}
.tours {
    position: sticky;
    font-size: 65px;
    font-weight: 500;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    transition: .5s;
    margin-left: 326px;   
}
.tours:hover {
    transform: scale(1.2,1.2);
}
.about_company {
    position: sticky;
    font-size: 65px;
    font-weight: 500;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    transition: .5s;
    margin-left: 360px;
    left: 100px;       
}
.about_company:hover {
    transform: scale(1.2,1.2);
}
.bg {    
    padding-top: 400px;
    padding-left: 300px;
    position: fixed;
    width: 2120px;
    height: 1140px;
    right: 30px; 
    bottom: 6%;        
}
.dark {
    position:fixed ;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .5) ;
    backdrop-filter: blur(10px);
}
.container {
    position: fixed;
    width: 1655px;
    height: 750px;
    left: 110px;
    top: 120px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    background-size: 600px;
    box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.8);
}
.text {
    position: fixed;
    width: 800px;
    height: 680px;
    top: 6px;
    left: 810px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    background-size: 600px;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.7);
}
.paragraph {
    font-size: 30px;
}
.infocompany {
    font-size: 40px;
}
.no-scroll {
    overflow-y: hidden;
}
.office {
    position: sticky;
    width: 750px;
    height: 496px;
}
.address1 {
    font-size: 40px;
}
.address2 {
    font-size: 28px;
}
.logo {
    width: 300px;
    height: 243px;
    margin-left: 170px;
}